{% extends 'myapp/base.html' %}
{% block content %}
    <div id="contact">
        <div>
            <div class="contact-item">
                <i class="material-icons">location_on</i>
                <p>Adalet, 1586/7. Sk. No:10 D:203, 35540 Bayraklı/İzmir</p>
            </div>
            <div class="contact-item">
                <i class="material-icons">local_phone</i>
                <p>+90 505 065 3067</p>
            </div>
            <div class="contact-item">
                <i class="material-icons">mail</i>
                <p>av.nagihancelik@gmail.com</p>
            </div>
        </div>

        <form id="contact-form" method="POST">
            <h1>Bize Ulaşın</h1>
            {% csrf_token %}
            <p>
                <p style="display: inline;" >E-posta</p>
                <input type="email" name="from_email" id="id_email" class="form-item">
            </p>
            <p>
                <p style="display: inline;" >Telefon</p>
                <input type="number" name="phone" id="id_phone" class="form-item">
            </p>
            <p>
                <p style="display: inline;" >Konu</p>
                <input type="text" name="subject" maxlength="50" id="id_subject" class="form-item">
            </p>
            <p>
                <p style="display: inline;" >Mesaj</p>
                <textarea form_id="contact-form" name="message" id="id_message" required class="form-item"></textarea>
            </p>
            <button type="submit" id="send-button">Gönder</button>
        </form>
    </div>
    
{% endblock %}